#app-content-wrapper {
	height: 100%;
}
#nextnotes-editor h1 {
	font-size: 200%;
	line-height: 200%;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
#nextnotes-editor h2 {
	font-size: 160%;
	line-height: 160%;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
#nextnotes-editor h3 {
	font-size: 125%;
	line-height: 125%;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
#nextnotes-editor h4 {
	font-size: 110%;
	line-height: 110%;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}
