#app-content-wrapper {
	height: 100%;
}
.CodeMirror {
	height: 60%;
	min-height: 150px;
}
.CodeMirror-scroll{
	box-sizing: content-box!important;
	min-height: 150px;
}
#nextnotes-editor {
	height: 100%;
}
#nextnotes-editor form {
	height: 100%;
}
